body{
    font-family: serif !important;
    /* background-color: rgb(188, 185, 185) !important; */
}
.head{
    color: white !important;
}
#checkedoutt{
    float: right;
    margin-top: 4rem;
    color: white;

}
.quantity{
    margin-left: 13rem !important;
    width: 25rem;
    /* float: right !important; */
}
.pricetag{
    margin-left: 30rem !important;
    width: 30rem;
}

#Count{
    width: 20rem;
}
.hiddentop{
    margin-top:30px;
    margin-bottom:30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#trashh{
    float: right !important;
}
.landingpage{
    background-color: black;
    /* border-bottom: 2px solid rgb(88, 84, 84); */

}
#checkout{
    margin-top: 10px;
}
.btnn{
    color: white !important;
}
.full {
    background-image: url('https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    /* width: 100% !important; */
    height: 400px;
}
.nav-text{
    color:white!important;
}
.form-div{
    margin-right: 150px;
}
#cart{
    margin-right: 0px;
    color: white;
}
.search{
    background-color: #6c757d !important;
    color: white;
    border: 1px solid white;
    width: 100px;
    border-radius: 0px 15px 15px 0px;
}
.searchbar{
    width: 400px !important;
    border-radius: 15px 15px 15px 15px;
}

.fotter{
    background-color: black;;
}
.card{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}